.movie-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.movie-poster {
  height:267px;
  width: 200px;
  border: 15px solid;
  word-wrap: break-word;
  margin: 10px;
}